* {
    font-family: "Comic Sans MS", sans-serif;
    font-size: 28px;

}





.custom-color-0 {
    background-color: rgb(13, 13, 53);
}

.custom-color-1 {
    background-color: rgb(13, 13, 53);

    /* 选择一个你喜欢的蓝色十六进制值 */
}

.navbar {
    padding: 0px;
}

.subtitle {
    border-radius: 5px 5px;
    box-shadow: 8px 8px rgb(185, 185, 183);
}

.custom-tooltip {
    --bs-tooltip-bg: var(--bs-dark);

}

.custom-card-shadow {
    box-shadow: 5px 5px grey;
}

.custom-list-bg {
    background-color: rgb(245, 245, 245);
}

html {
    min-width: 400px;
}

@media (max-width: 768px) {
    * {
        font-family: "Comic Sans MS", sans-serif;
        font-size: 14px;
    }
}